{% layout 'layout.liquid' %}
{% block content %}
  
        <div class="container-md">
            <h2>Blogs</h2>
            {% if blogs.length > 0 %}
            <div class="row">
                {% for blog in blogs %}
                    <div class="card me-3 mb-3" style="width: 18rem;">
                        <h5 class="card-header">{{blog.name}}</h5>
                        <div class="card-body">
                           
                            <p class="card-text">The content of this {{blog.name}} is {{blog.content}}</p>
                            <div class="colorBox mb-2" style="background-color: {{blog.content}}"></div>
                            <a href="/blogs/{{blog.id}}" class="btn btn-info">View {{blog.content}}</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <div class="container-md">
            <h2>No blogs yet... Go create some!</h2>
        </div>
    {% endif %}
{% endblock %}