{% layout 'layout.liquid' %}
{% block content %}
      <div class="container-md">
        <article>
            <h2>{{blog.content}}</h2>
          
      
           
       
            <h4>{{blog.title}}</h4>
            <div class="colorBox" style="background-color: {{blog.content}}"></div>
            {% if blog.owner == userId %}
                <hr>
                <div class="btn-group">
                
                    first button will take us to the edit page
                    second will actually be a form, that calls our delete route
                  
                    <a href="/blogs/edit/{{blog.id}}" class="btn btn-primary">Edit {{blog.content}}</a>
                    <form action="/blogs/{{blog.id}}?_method=DELETE" method="POST">
                        <input type="submit" class="btn btn-danger" value="Delete {{blog.content}}">
                    </form>
                </div>
            {% endif %}
        </article>
        <hr>
        <h4>comments</h4>
        <hr>
        {% if loggedIn %}
            <div class="col-md-6">
                <form action="/comments/{{ blog.id }}" method="POST">
                    <fieldset>
                        <legend>Add Comment</legend>
                        <label class="form-label">comment: </label>
                        <input type="text" name="note" class="form-control mb-1">
                    </fieldset>
                    <input type="submit" class="btn btn-success" value="add comment">
                </form>
            </div>
        {% else %}
            <div class="col-md-6">
                <small>If you'd like to leave a comment, please log in...</small>
            </div>
        {% endif %}
        <hr>
        {% if blog.comments.length > 0 %}
            <div class="container-sm justify-content-center">
                {% for comm in blog.comments %}
                    {% render '../comment.liquid', comm: comm, userId: userId, blog: blog %}
                {% endfor %}
            </div>
        {% else %}
            <small>no comments yet...</small>
        {% endif %}
    </div>

{% endblock %}
